<!-- Reference:https://docs.djangoproject.com/en/1.11/intro/ -->
<head>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<h1>{{ object.question_text }}</h1>
<body>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question_id=object.id %}" method="post" name="frm" onsubmit="validateForm()">

{% csrf_token %}
<strong>Vote:</strong><br />
{% for choice in object.choice_set.all|dictsortreversed:"id" %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<br />

{% csrf_token %}
<strong>Gender:</strong><br />
{% for gender in object.gender_set.all|dictsortreversed:"id" %}
    <input type="radio" name="gender" id="gender{{ forloop.counter }}" value="{{ gender.id }}" />
    <label for="gender{{ forloop.counter }}">{{ gender.gender_text }}</label><br />
{% endfor %}
<br />

{% csrf_token %}
<strong>Age:</strong><br />
{% for age in object.age_set.all|dictsortreversed:"id" %}
    <input type="radio" name="age" id="age{{ forloop.counter }}" value="{{ age.id }}" />
    <label for="age{{ forloop.counter }}">{{ age.age_text }} </label><br />
{% endfor %}
<br />

{% csrf_token %}
<strong>Education:</strong><br />
{% for education in object.education_set.all|dictsortreversed:"id" %}
    <input type="radio" name="education" id="education{{ forloop.counter }}" value="{{ education.id }}" />
    <label for="education{{ forloop.counter }}">{{ education.education_text }}</label><br />
{% endfor %}
<br />

{% csrf_token %}
<strong>Religion:</strong><br />
{% for religion in object.religion_set.all|dictsortreversed:"id" %}
    <input type="radio" name="religion" id="religion{{ forloop.counter }}" value="{{ religion.id }}" />
    <label for="religion{{ forloop.counter }}">{{ religion.religion_text }}</label><br />
{% endfor %}
<br />

{% csrf_token %}
<strong>Ethnicity:</strong><br />
{% for ethnicity in object.ethnicity_set.all|dictsortreversed:"id" %}
    <input type="radio" name="ethnicity" id="ethnicity{{ forloop.counter }}" value="{{ ethnicity.id }}" />
    <label for="ethnicity{{ forloop.counter }}">{{ ethnicity.ethnicity_text }}</label><br />
{% endfor %}
<br />

{% csrf_token %}
<strong>Income:</strong><br />
{% for income in object.income_set.all|dictsortreversed:"id" %}
    <label for="income{{ forloop.counter }}"></label>
    <input type="radio" name="income" id="income{{ forloop.counter }}" value="{{ income.id }}" />
    <label for="income{{ forloop.counter }}{{ forloop.counter }}">{{ income.income_text }}</label><br />
{% endfor %}
<br />

{% csrf_token %}
<strong>Constituency:</strong>
   <label for="constituency{{ forloop.counter }}">
        <select id="constituency" name="constituency">
            {% for constituency in object.constituency_set.all|dictsort:"id" %}
            <option name="constituency" id="constituency{{ forloop.counter }}" value="{{constituency.id}}">{{constituency.constituency_text}}</option>
            {% endfor %}
        </select>
    </label>
    <br />
<br />
<div class="g-recaptcha" data-sitekey="6LeQEUoUAAAAAK8gjBkv1JdP5iLQZ9IcQ9s2cNhX" data-callback="enableBtn"></div>
<br />
<input type="submit" value="Submit" id="button1">
</form>
<!--<script>
    document.getElementById("button1").disabled = true;

    function enableBtn(){
       document.getElementById("button1").disabled = false;
    }
</script>-->

<script>
    function validateForm() {
        var x = document.forms["frm"]["choice"].value;
        var y = document.forms["frm"]["gender"].value;
        var z = document.forms["frm"]["age"].value;
        var t = document.forms["frm"]["education"].value;
        var k = document.forms["frm"]["religion"].value;
        var w = document.forms["frm"]["ethnicity"].value;
        var i = document.forms["frm"]["income"].value;
        var c = document.forms["frm"]["constituency"].value;

        if (x === "") {
            alert("Vote must be entered");
            event.preventDefault();
            return false;
        }

        if (y === "") {
            alert("Gender must be entered");
            event.preventDefault();
            return false;
        }

        if (z === "") {
            alert("Age must be entered");
            event.preventDefault();
            return false;
        }

        if (t === "") {
            alert("Education must be entered");
            event.preventDefault();
            return false;
        }

        if (k === "") {
            alert("Religion must be entered");
            event.preventDefault();
            return false;
        }

        if (w === "") {
            alert("Ethnicity must be entered");
            event.preventDefault();
            return false;
        }

        if (i === "") {
            alert("Income must be entered");
            event.preventDefault();
            return false;
        }

        if (c === "") {
            alert("constituency must be entered");
            event.preventDefault();
            return false;
        }
    }
</script>
</body>